:root{
    --List-padding: 0px 0px 0px 30px;
    --List-margin: 0px; 
}

:is(h1, h2){
    color: #fff;
    font-family:'Lexend Deca';
}

body{
    background-color: #000;
}

p{
    font-family: Inter;
    color:hsla(0, 0%, 100%, 0.75);
}

/* For moblie */
@media(max-width: 1000px){
    .container{
        margin: 100px 19% 100px 19%;

        display: flex;
        flex-direction: column;
        
        text-align: center;

        border: #1c1938 solid;
        border-radius: 15px;
        background-color: #1c1938;
        width: 60%;
        height: 75%;
    }

    .image{
        order: 1;
        background-color:#aa5cdb;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }

    .text{
        order: 2;
    }
    
    .List{
        display:flex;
        flex-direction: column;
        width: 85%;
        justify-content: space-around;
    }
}

/* for desktop */
@media(min-width:1000px){
    .container{
        margin: 100px 19% 100px 19%;

        display: flex;
        flex-direction: row;

        border: #1c1938 solid;
        border-radius: 15px;
        background-color: #1c1938;
        width: 60%;
        height: 75%;
    }

    .container h1{
        width: 60%;
        padding: 30px 70px 0px 70px;
    }

    .image{
        order: 2;

        background-color:#aa5cdb;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .text{
        order: 1;
    }
    
    .List{
        display:flex;
        width: 85%;
        justify-content: space-evenly;
    }
}


/* These values are not affected by the screen resolution */

.image img{
    width: 100%;
    height: 100%;

    /* the opactiy is used to blend the background-color with the image */
    opacity: 0.4;
    order: 1;
}

.text font{
    color: #aa5cdb;
}

.text p{
    padding: 30px 70px;

}



.List h2{
    margin: var(--List-padding);
    padding: var(--List-padding);
}

.List p{
    margin: var(--List-padding);
    padding: var(--List-padding);
}

